/** @format */
/* normalize */
@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
/* EB Garamond */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&display=swap");

:root {
	--main-dark: #000;
}

* {
	box-sizing: border-box;
	font-family: "EB Garamond", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
}

[hidden] {
	display: none !important;
}

p,
h1,
h2,
h3 {
	margin: 0;
	font-weight: normal;
}

input {
	border: 0;
}

textarea {
	border: 0;
	resize: none;
}

button {
	border: 0;
	outline: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}

ul,
li {
	padding: 0;
	margin: 0;
}

body {
	overflow: hidden;
}

#root > div {
	display: flex;
	column-gap: 20px;
	padding: 20px;
	height: 100vh;
}

#root > div > div {
	padding: 10px;
	border-radius: 10px;
	border: 1px solid var(--main-dark);
	flex: 1 1 50%;
	overflow: scroll;
}

.template div:not(:last-child) {
	margin-bottom: 20px;
}

.template div:not(:nth-of-type(1)) li {
	margin: 5px 0;
	margin-left: 20px;
}

.template > div:nth-of-type(1) ul {
	display: flex;
	flex-wrap: wrap;
	column-gap: 10px;
	list-style: none;
	border-bottom: 1px solid var(--main-dark);
	font-size: 1.5rem;
}

.template > div > :nth-child(1) {
	margin-bottom: 20px;
	font-weight: bolder;
}

.template > div > p:nth-of-type(1) {
	border-bottom: 1px solid var(--main-dark);
}

.template .experience > div,
.template .education > div {
	margin: 20px 0;
}

.template .experience > div > p,
.template .education > div > p {
	display: flex;
	justify-content: space-between;
}

.template .experience > div > p:nth-of-type(1),
.template .education > div > p:nth-of-type(1) {
	font-weight: bolder;
}

.template .experience > div > p:nth-of-type(2),
.template .education > div > p:nth-of-type(2) {
	margin: 10px 0;
	font-style: italic;
}

.editForm > div:not(:last-child) {
	margin-bottom: 20px;
}

.editForm > div > h3 {
	margin-bottom: 20px;
}

.editForm > div .details {
	display: flex;
	flex-wrap: wrap;
	column-gap: 20px;
	row-gap: 20px;
}

.editForm > div .details div {
	display: flex;
	justify-content: space-between;
	column-gap: 10px;
	flex: 1 1 45%;
}
.editForm > div .details div input {
	width: 100%;
}

.editForm > div label {
	flex: 1 1 45%;
	display: flex;
	flex-direction: column;
}

.editForm > div .details input,
.editForm > div textarea {
	margin: 5px 0;
	padding: 10px 15px;
	background-color: var(--input-bgc);
	border-radius: 10px;
}

.editForm > div li {
	margin-top: 20px;
	list-style-type: none;
}

.editForm .employment > div,
.editForm .education > div {
	border: 1px solid var(--main-dark);
	padding: 10px;
	border-radius: 10px;
	border-color: var(--input-border);
	margin-bottom: 10px;
}

.editForm .employment > div:not(:last-of-type),
.editForm .education > div:not(:last-of-type) {
	margin-bottom: 20px;
}

.editForm .employment > button,
.editForm .education > button {
	width: 100%;
	text-align: left;
	padding: 10px;
	color: var(--button-color);
	border-radius: 10px;
	transition: background-color ease 0.3s;
}

.editForm .employment > button:hover,
.editForm .education > button:hover {
	background-color: var(--button-bgc);
}

.editForm .employment > div > button,
.editForm .education > div > button {
	width: 100%;
	text-align: left;
	padding: 10px;
	margin: 5px 0;
	transition: color ease 0.3s;
}

.editForm .employment > div > button:hover,
.editForm .education > div > button:hover {
	color: var(--button-color);
}

.editForm .skills textarea {
	width: 100%;
}
